meta name="twitter:card" content="summary"
- if current_page.data.description
  meta name="twitter:description" content="#{current_page.data.description}"
meta name="twitter:image" content="https://www.fillin-inc.com/images/ogp-square.png"
