meta name="twitter:card" content="#{current_page.data&.twitter_card&.type || 'summary'}"
meta name="twitter:image" content="#{'https://www.fillin-inc.com' + File.join('/', current_page.data&.twitter_card&.image || 'images/ogp/ogp-square.png')}"
