@charset 'utf-8'

body.achivements
  margin: 0

.achivements
  .title-block
    background-image: url(/images/achivements/header.jpg)
  .archives
    .wrapper
      margin-top: 6.75rem
    .pagination
      margin-bottom: 5rem
      ul:after
        clear: both
      li
        float: left
        border: 1px solid $light-blue
        padding: .5rem .75rem
        margin-right: 1.25rem
      .current
        background: $light-blue
        color: $white
  margin: 10rem 0 5rem
  .title
    font-size: 1.375rem
    letter-spacing: .5rem
    margin-bottom: 4.375rem
  .achivement
    .title
      font-size: 1.25rem
      font-weight: normal
      margin-bottom: 1.5rem
    .customer
      display: block
      font-weight: bold
      color: $black
      &:link, &:visited
        color: $black
      &:hover, &:active
        text-decoration: underline
    .tags
      margin: .25rem 0 .125rem
    .tag
      margin-right: .25rem
    .image
      margin-bottom: 2rem
    .description
      margin-bottom: 5rem

  .button.is-achivement
    color: $yellow
    border: 1px solid $yellow
    background: $white

  .slick-prev, .slick-next
    height: 85px;
    width: 85px;
  .slick-prev
    left: -85px
  .slick-next
    right: -85px
  .slick-prev:before, .slick-next:before
    color: #adadad
    font-size: 5rem

