html, body
  background: $white
  font-feature-settings: 'pkna'

.section
  padding: 6rem 1.5rem

.title, .subtitle
  line-height: 1.7

.title.has-blue-background
  display: inline-block
  background: $blue
  padding: .5rem 2rem

.hero .title
  font-size: 2.5rem
  font-weight: 500
  color: $white

.icon.white
  color: $white
  fill: $white

.with-smaller-prefix:before
  content: '>'
  vertical-align: 'middle'
  padding-right: .325rem

.with-arrow-postfix:after
  content: '→'
  vertical-align: 'middle'
  padding-right: .325rem

.strike
  text-decoration: line-through

+mobile
  .hero .title
    font-size: 2rem
