html, body
  background: $white
  font-feature-settings: 'pkna'

.section
  padding: 6rem 1.5rem

.title, .subtitle
  line-height: 1.7

.icon.white
  color: $white
  fill: $white

.with-smaller-prefix:before
  content: '>'
  vertical-align: 'middle'
  padding-right: .325rem

.strike
  text-decoration: line-through
