@charset 'utf-8'

.company
  .title-block
    background-image: url(/images/company/header.jpg)
  .title
    font-size: 2rem
    font-weight: normal
    letter-spacing: .25rem
    margin-bottom: 4rem
  .info
    margin-top: 9rem
    .table
      margin-bottom: 6rem
      th
        width: 16rem
        padding-top: .75rem
        font-size: 1rem
      td
        width: 28rem
        font-size: 1.25rem
  .history
    margin-bottom: 10.5rem
    dt
      font-style: italic
    dd
      font-size: 1.25rem
      margin-bottom: 2.5rem
