@charset 'utf-8'

body > .footer
  background: $blue
  margin-top: 4.5rem
  padding-bottom: 2.5rem
  position: relative

  .logo-wrapper
    .logo
      width: 9rem
      position: absolute
      right: 0
      top: -1.5rem

  li
    color: $pure_white
    font-size: $font-6
    font-weight: bold
    padding-bottom: .25rem
    a:link, a:visited
      color: $pure_white
    a:hover
      text-decoration: underline

  ul ul
    margin-top: .5rem

  ul li li
    margin-left: 1.5rem



