@charset 'utf-8'

body > .header
  background: $white
  height: 94px
  width: 100%

  .navbar
    .navbar-brand
      margin-left: 0

  .logo-link
    padding: 25px 0

  .logo
    width: 162px
    max-height: 44px

  .navbar-end
    .navbar-item
      padding: 0 19px
    .current
      background: $light-blue

body > .header.is-sticky
  position: fixed
  top: 0
  z-index: 1000
  box-shadow: 0 2px #ededed
