@charset 'utf-8'

body > .header
  background: $white
  height: 67px
  margin-bottom: 3px
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, .15)

  .navbar-brand
    width: 100%

  .logo
    height: 40px
    margin-top: 20px
    margin-left: 8px

  .company-name
    position: relative
    top: -5px
    left: 16px
    color: #4a4a4a

  .navbar-menu
    margin-top: 26px
