@charset 'utf-8'

body > .header
  background: $white

  .hamburger
    position: absolute
    right: 0

  .nav
    max-width: 1200px
    margin: 0 auto
    background: $white
    .logo
      display: block
      width: 100px
