.index
  overflow: hidden
  .hero
    background: $light-blue
    height: 43.75rem

    .main
      position: relative
      top: -3.25rem
      right: 200px
      min-width: 1097px

    .title, .sub-title
      display: inline-block
      color: $white
      position: relative
      z-index: 100
    .title
      font-size: 1.5625rem
      letter-spacing: 1rem
      top: 16rem
      left: 35rem
    .sub-title
      font-size: 1.25rem
      top: 18.75rem
      left: 17rem

  .summary
    text-align: center
    .title
      margin-top: 14.375rem
    .description
      margin-bottom: 11.25rem
      font-size: 1.25rem

  .releases
    background: $light-blue
    padding: 6rem 0
    .columns
      margin-bottom: .75em
    .title
      font-size: 1.375rem
      letter-spacing: .5rem
      color: $white
      margin-bottom: 4.375rem
    .article
      margin-bottom: 2rem
      color: $white
      a
        color: $white
        &:link, a:visited
          color: $white
        &:hover, &:active
          text-decoration: underline
          color: $white
