body.inquiry
  .container .column.content
    padding-bottom: 5rem
  .confirm-privacy-policy
    .label
      font-size: $font-5
    .text
      position: relative
      top: 1px
      left: 4px

+mobile
  body.inquiry
    section .container .columns
      padding: 0 4rem
