.navbar-burger
  top: 8px

+tablet
  .index
    .first
      .title
        font-size: $font-4
    .second
      .title
        font-size: $font-4
      .subtitle
        font-size: $font-5


+touch
  .index
    .first
      .title
        font-size: $font-2
    .service
      padding: 6rem 0 4rem
      .column
        margin-bottom: 4.5rem
    .service, .information
      .column
        padding: 0 1.5rem

    .release
      margin-bottom: 4rem

  .services, .releases, .inquiry, .privacy-policy, .trainee
    .column
      padding: 0 1.5rem

  .feature
    .column
      margin-bottom: 4.5rem

+mobile
  .index
    .first
      .text
        padding: 2rem 2.5rem
      .title
        font-size: $font-3
      .subtitle
        font-size: $font-4
    .second
      .title
        font-size: $font-4
      .subtitle
        font-size: $font-5
    .service, .information
      .column
        padding: 0 2.5rem
    .release
      margin-bottom: 6rem

  .services, .releases, .inquiry, .privacy-policy, .trainee
    .column
      padding: 0 2.5rem
