.navbar-burger
  top: 1.25rem

+mobile
  .title-block
    height: 8.25rem
    .title
      margin-top: 1.25rem
      font-size: 1.375rem
  .columns
    padding: 0 2rem
  .columns.blocks
    .column
      width: 311px
      margin-bottom: 4rem

  .entrusted-development, .web-design, .development-support
    .summary
      margin: 3.5rem 0
    .blocks
      margin-top: 3.5rem

    .person
      padding: 3.25rem 0 6.75rem

  .achivements
    margin: 6.75rem 0 3.25rem

  .development-support
    .summary
      margin: 3.5rem 0 2rem
    .tech
      .list
        margin-left: 0

  .achivements
    .archives
      .title
        font-size: 1.125rem
        font-weight: bold
        letter-spacing: 0
      .wrapper
        margin-top: 4rem
      .pagination
        li
          margin-right: .5rem
  .company
    .title
      font-size: 1rem
      letter-spacing: .125rem
      margin-bottom: 2.5rem
    .info
      margin-top: 3.5rem
      .title
        margin-bottom: 2.75rem

      .table
        margin-bottom: 3.75rem
        td
          font-size: 1rem
    .history
      margin-bottom: 6rem
      dd
        font-size: 1rem
        margin-bottom: 1rem
  .inquiry
    .wrapper
      iframe
        max-width: 100%
  body > .header
    .logo
      width: 10rem
  body > .footer
    .inquiry
      height: 11.75rem
      padding-top: 2rem
      p
        font-size: 1rem
        margin: auto 3rem
      .button
        margin-top: 1rem
        width: 7rem
        font-size: 1rem
        padding: 1rem 4rem
    .links
      font-size: .75rem

  // TOP
  .index
    .hero
      background: $white
      .main
        top: -7rem
    section .container.summary .title
      letter-spacing: .125rem
    .summary
      .title
        margin-top: 7.5rem
      .description
        margin-bottom: 4.125rem
    .columns.blocks
      margin-bottom: 8rem
    .releases
      padding: 4rem 0
      .title
        letter-spacing: .125rem
    .achivements
      margin-top: 6.75rem
      .title
        margin-bottom: 3.125rem
        letter-spacing: .125rem
      .carousels
        padding: 0 2rem
      .slick-next:before, .slick-prev:before
        font-size: 2.5rem
      .slick-next
        right: -26px
      .slick-prev
        left: -26px
