.privacy
  .content
    h3
      font-size: $font-4
      margin-top: 2.25rem
    h4
      font-size: $font-5
      margin: 1.75rem 0 1.25rem

    p
      text-indent: 1rem

    ul, ol
      ul, ol
        margin-bottom: 1.25rem
