.privacy-policy
  .title-block
    background-image: url(/images/company/header.jpg)
  .columns
    margin: 2rem 0 8rem
  .content
    h1, h2, h3
      font-size: 1.125rem
      letter-spacing: .125rem

    p
      text-indent: 1rem

    ul, ol
      ul, ol
        margin-bottom: 1.25rem

.agreement
  p
    text-indent: 1rem
  ol.is-lower-roman
    list-style-type: lower-roman

  ol, ul
    ol, ul
      margin-top: .75rem
      margin-bottom: .75rem
