.releases
  .year-group
    h3.title
      font-size: 1.125rem
      font-weight: 400

      .year
        font-size: 1.125rem
        padding-right: .125rem

    ul
      margin-left: 1rem
      margin-bottom: 2.5rem
    li
      list-style: none
      padding-bottom: 1.5rem

      a:link, a:visited
        color: $black
      a:hover
        color: $blue

    .date
      position: relative
      left: -6px
    .article-title
      font-weight: 400
      font-size: 1.375rem

  .single
    h2.title
      font-size: 1.75rem
      font-weight: 400
      margin-bottom: 3.5rem
    h3
      font-size: 1.5rem
      margin-top: 2.25rem
      margin-bottom: 1.25rem
    h4, h5, h6
      font-size: 1.25rem
    .published
      .icon
        position: relative
        top: .5px

.release-menu
  .date
    font-size: .75rem
    .icon
      padding-left: 0
      position: relative
      top: 1.5px
  .title
    font-size: 1rem
    font-weight: 400
    margin-bottom: .125rem
    padding-left: .375rem

+touch
  .releases
    .year-group
      padding: 0 4rem
    .single
      padding: 0 4rem

+mobile
  .releases
    .year-group
      padding: 0 1.5rem
    .single
      padding: 0 2rem
