.services .content
  h2
    margin-top: 3.5rem
  h2:first-child
    margin-top: 2rem
  h3
    font-size: $font-4
    margin-top: 4rem
    margin-bottom: 2rem
  h3:first-child
    margin-top: 1rem

  .wrapper
    padding: .75em 1em

  .notification
    padding: 2.5rem
    margin-top: 4rem
    text-align: center
