body.services_website-development
  .hero
    background-image: url(/images/services/workspace.jpg)
    background-size: cover

  .introduction
    .title
      margin-bottom: 1.5rem
      font-size: 1.75rem
      font-weight: 400

  .summary
    margin-bottom: 3rem

  .service-list
    .icon
      width: 3rem
      height: 3rem
      padding: .5rem
      position: relative
      top: .5rem
    .subtitle
      margin-bottom: 1rem
    .content
      padding-left: 3rem
      padding: 0 5rem 2rem 3rem

.services_website-development .content
  h2
    margin: 5rem 0 3rem
    text-align: center
    font-weight: normal
  h3
    font-size: 1.25rem
    margin: 1.25rem 0
    text-align: center

  .description
    text-align: center

  .wrapper
    padding: .75em 1em
    text-align: center

  .wrapper.no-align
    text-align: left

  .notification
    padding: 2.5rem
    margin-top: 4rem
    text-align: center
