@charset 'utf-8'

$family-sans-serif: "Helvetica Neue", "Helvetica", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "Arial", sans-serif

$pure_white: #fff
$pure_black: #000
$black: #4d606e
$white: #fafcfd
$light-blue: #b0d8e2
$light-blue-text: #83c4d8
$dark-blue: #4d606e

// overwrite bulma settings
$gap: 20px;
$fullhd: 1096px + (2 * $gap)
