@charset 'utf-8'

$family-sans-serif: "Helvetica Neue", "Helvetica", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "Arial", sans-serif

$pure_white: #fff
$white: #fdfdfd
$black: #101010
// TODO: 後で消す
$dark-blue: #003976
$blue: #0075c2
$gray-border: #dbdbdb
$gray-circle: #707070

$primary: $blue
