@charset 'utf-8'
@import 'settings'
@import 'vendor/bulma/bulma'
@import 'vendor/font-awesome/scss/font-awesome'
@import 'header'

html, body, main
  height: 100%
  font-feature-settings: 'pkna'

html
  background: $white

main
  height: auto
  min-height: 85%
  padding-left: 1em
  padding-right: 1em

.title
  .fa
    padding-left: .25em
    vertical-align: 2%
  a
    &:link, &:visited
      border: none
    &:hover
      border-bottom: 1px solid $grey-lighter

.content a:not(.button)
  .fa-feed
    color: $orange

.hero
  height: 40em

  .container
    position: relative
    top: 10em

    .logo
      max-width: 15em

.biz
  margin-bottom: 10em

  p
    line-height: 1.72

.company
  margin-bottom: 5em

.releases
  min-height: 15em

  .list
    margin-bottom: 2em
  .date
    margin-right: 1em

.fa
  padding-right: .5em

body:not(.index)
  section:first-child
    margin-top: 5em

body.releases
  .article-data
    margin-bottom: 2em
    text-align: right
  .updated
    margin-left: .75em
  .inquiry-info
    margin-top: 8em

.privacy
  margin-bottom: 4em
  h2
    font-size: 1.25em
  h3
    font-size: 1.15em

.submit-box
  text-align: right
