@import 'bulma'
@import 'header'

html, body, main
  height: 100%

html
  background: white

main
  height: auto

.hero
  height: 40em

  .container
    position: relative
    top: 10em

    .logo
      max-width: 15em


.biz
  margin-bottom: 10em

.footer
  margin-top: 10em
