@charset 'utf-8'
@import 'vendor/bulma/bulma'
@import 'vendor/font-awesome/scss/font-awesome'
@import 'settings'
@import 'header'

html, body, main
  height: 100%

html
  background: $white

main
  height: auto
  min-height: 85%
  padding-left: 1em
  padding-right: 1em

.title
  .fa
    padding-left: .25em
    vertical-align: 2%
    font-size: .9em
  a
    &:link, &:visited
      border: none
    &:hover
      border-bottom: 1px solid $grey-lighter

.content a:not(.button)
  .fa-feed
    color: $orange

.hero
  height: 40em

  .container
    position: relative
    top: 10em

    .logo
      max-width: 15em

.biz
  margin-bottom: 10em

.company
  margin-bottom: 5em

.releases
  min-height: 15em

.releases
  .date
    margin-right: 1em

.fa
  padding-right: .5em

.privacy
  margin: 2em auto 4em

body:not(.index)
  section:first-child
    margin-top: 5em

body.releases
  .article-data
    margin-bottom: 2em
    text-align: right
  .updated
    margin-left: .75em
  .inquiry-info
    margin-top: 8em
